In [29]:
import pandas as pd 
import numpy as np

In [40]:
trip_file=pd.read_csv(r"C:\Users\ASUS\My_Learning\sat hack\trips_india.csv")
trip_file.head()
#print(trip_file.isnull().sum())

,trip_id,assignment_id,driver_id,vehicle_id,route_id,start_time,end_time,distance_km,duration_min,fuel_before_l,fuel_after_l,fuel_used_l,co2_kg,avg_speed_kmph,stop_count,anomaly_flag,geo_trace,created_at
0,T000001,A000417,d0199,v0038,R000359,2025-11-18T16:00:00,2025-11-18T17:56:00,35.22,116,39.29,34.43,7.160,13.604,18.22,76,False,[],2025-11-13T11:09:24.181002
1,T000002,A000399,d0129,v0128,R000295,2025-11-18T11:30:00,2025-11-18T12:41:00,25.75,71,46.34,11.70,2.992,5.685,21.76,11,False,[],2025-11-13T11:09:24.182464
2,T000003,A000241,d0120,v0051,R000643,2025-11-16T20:00:00,2025-11-16T21:00:00,15.71,60,21.32,22.13,1.298,2.998,15.71,39,False,[],2025-11-13T11:09:24.183849
3,T000004,A000303,d0012,v0045,R000747,2025-11-17T11:30:00,2025-11-17T12:05:00,22.66,35,24.28,24.19,5.501,12.707,38.85,24,False,[],2025-11-13T11:09:24.185314
4,T000005,A000278,d0088,v0015,R001102,2025-11-17T05:15:00,2025-11-17T05:21:00,2.76,6,47.43,17.25,0.481,1.111,27.60,8,False,[],2025-11-13T11:09:24.186693

In [33]:
vehicle_file=pd.read_csv(r"C:\Users\ASUS\My_Learning\sat hack\vehicle_agent_india_full.csv")
vehicle_file.head()
#print(vehicle_file.isnull().sum())

,vehicle_id,vehicle_type,model,fuel_type,baseline_kmpl,actual_kmpl,engine_health,maintenance_score,load_capacity_kg,avg_load_kg,load_factor,tyre_health,age_years,vehicle_multiplier,emission_factor,city
0,v0001,van,Maruti Omni,cng,13.28,9.41,8,7,1000,489,0.49,0.81,2,1.193,1.90,Delhi
1,v0002,cargo-auto,Bajaj Maxima,petrol,15.16,12.59,9,7,700,433,0.62,0.69,11,1.210,2.31,Pune
2,v0003,pickup,Mahindra Bolero Pickup,petrol,18.02,17.28,10,10,1200,493,0.41,0.77,5,1.123,2.31,Delhi
3,v0004,mini-truck,Ashok Leyland Dost,petrol,12.91,11.30,9,6,1200,1115,0.93,0.80,9,1.305,2.31,Delhi
4,v0005,truck,Eicher Pro 2049,diesel,14.78,13.18,10,9,700,586,0.84,0.90,9,1.252,2.68,Chennai

In [34]:
environment_file=pd.read_csv(r"C:\Users\ASUS\My_Learning\sat hack\environment_agent_india_full.csv")
environment_file.head()
#print(environment_file.isnull().sum())

,env_id,city,route_id,segment_start_lat,segment_start_lon,segment_end_lat,segment_end_lon,time_window_start,time_window_end,time_of_day,...,incident_type,incident_delay_min,elevation_gain_m,slope_pct_avg,temp_celsius,humidity_pct,air_quality_index,fuel_modifier,time_modifier,last_updated
0,env_0001,Pune,R000514,18.485043,73.812903,18.548836,73.827100,2025-11-14T07:00:00,2025-11-14T08:00:00,morning,...,NaN,0,119.7,4.73,33.2,84,123,1.418,1.53,2025-11-13T11:04:37.287404
1,env_0002,Pune,R000097,18.563048,73.845455,18.566070,73.904282,2025-11-14T16:00:00,2025-11-14T17:00:00,afternoon,...,NaN,0,192.0,6.14,27.1,77,189,0.809,0.64,2025-11-13T11:04:37.287467
2,env_0003,Pune,R000403,18.548015,73.903129,18.499818,73.824443,2025-11-14T08:00:00,2025-11-14T09:00:00,morning,...,NaN,0,254.6,25.04,28.5,49,60,1.719,1.67,2025-11-13T11:04:37.287519
3,env_0004,Delhi,R000661,28.623588,77.236366,28.626437,77.243314,2025-11-14T15:00:00,2025-11-14T16:00:00,afternoon,...,NaN,0,25.1,1.00,27.8,74,153,1.367,1.51,2025-11-13T11:04:37.287561
4,env_0005,Bengaluru,R000716,12.943720,77.565935,12.954788,77.580680,2025-11-14T12:00:00,2025-11-14T13:00:00,afternoon,...,NaN,0,136.5,3.68,30.6,79,112,1.240,1.29,2025-11-13T11:04:37.287596

In [38]:
main_agent_file=pd.read_csv(r"C:\Users\ASUS\My_Learning\sat hack\main_agent_route_manager_india.csv")
main_agent_file.head()
#print(main_agent_file.isnull().sum())

,route_id,polyline,start_lat,start_lon,end_lat,end_lon,city,road_type_split,intersection_count,curvature_score,...,duration_min,traffic_level,congestion_index,avg_speed_kmph,time_of_day,weekday,elevation_gain_m,elevation_loss_m,avg_slope_pct,last_updated
0,R000001,NaN,17.408269,78.518717,17.415285,78.522214,Hyderabad,"{""highway"": 0.43, ""urban"": 0.27, ""local"": 0.3}",33,0.627,...,99.60,5,52,33.72,morning,Friday,306.0,79.9,0.55,2025-11-13T11:00:07.335570
1,R000002,NaN,17.393505,78.453357,17.355571,78.444484,Hyderabad,"{""highway"": 0.66, ""urban"": 0.32, ""local"": 0.02}",132,0.003,...,92.89,0,8,32.55,morning,Wednesday,342.6,255.1,0.68,2025-11-13T11:00:07.335627
2,R000003,NaN,18.511853,73.895254,18.528209,73.880358,Pune,"{""highway"": 0.56, ""urban"": 0.33, ""local"": 0.11}",4,0.216,...,28.85,4,47,30.61,morning,Wednesday,81.3,71.0,0.55,2025-11-13T11:00:07.335667
3,R000004,NaN,17.386824,78.532566,17.339154,78.453114,Hyderabad,"{""highway"": 0.03, ""urban"": 0.75, ""local"": 0.22}",91,0.324,...,204.81,1,34,17.29,morning,Thursday,188.7,29.6,0.32,2025-11-13T11:00:07.335710
4,R000005,NaN,12.998841,77.581375,12.989471,77.620726,Bengaluru,"{""highway"": 0.26, ""urban"": 0.56, ""local"": 0.18}",80,0.550,...,36.16,1,46,48.73,morning,Friday,338.1,311.9,1.15,2025-11-13T11:00:07.335741

In [17]:
fuel_prediction_file=pd.read_csv(r"C:\Users\ASUS\My_Learning\sat hack\fuel_predictions_india.csv")
fuel_prediction_file.head()
print(fuel_prediction_file.isnull().sum())

pred_id             0
assignment_id       0
route_id            0
driver_id           0
vehicle_id          0
env_id              0
model_name          0
model_version       0
predicted_fuel_l    0
predicted_co2_kg    0
confidence_low      0
confidence_high     0
features_json       0
explain_text        0
created_at          0
dtype: int64

In [18]:
event_log_file=pd.read_csv(r"C:\Users\ASUS\My_Learning\sat hack\event_log_india.csv")
event_log_file.head()
print(event_log_file.isnull().sum())

event_id        0
stream_name     0
event_type      0
payload_json    0
published_at    1
processed       1
dtype: int64

In [ ]:
notification_file=pd.read_csv(r"C:\Users\ASUS\My_Learning\sat hack\notifications_india.csv")
notification_file.head()
print(notification_file.isnull().sum())

notification_id     0
recipient_type      0
recipient_id        0
channel             0
subject             0
message             0
status              0
external_id        80
attempts            0
sent_at             0
created_at          0
dtype: int64

In [43]:
# ======================================================
# ROUTE AGENT MVP — ECO ROUTE SELECTION + GIS VISUALIZATION
# ======================================================

import pandas as pd
import numpy as np
from math import radians, sin, cos, sqrt, atan2
import folium
import random
import webbrowser
import os

# ---------- FILE PATH ----------
BASE = r"C:\Users\ASUS\My_Learning\sat hack"  # Change if folder differs

# ---------- LOAD CSV DATA ----------
trips = pd.read_csv(f"{BASE}\\trips_india.csv", parse_dates=['start_time','end_time','created_at'])
vehicles = pd.read_csv(f"{BASE}\\vehicle_agent_india_full.csv")
environment = pd.read_csv(f"{BASE}\\environment_agent_india_full.csv", parse_dates=['time_window_start','time_window_end','last_updated'])
routes = pd.read_csv(f"{BASE}\\main_agent_route_manager_india.csv", parse_dates=['last_updated'])
fuel_preds = pd.read_csv(f"{BASE}\\fuel_predictions_india.csv", parse_dates=['created_at'])

# ---------- STRIP WHITESPACE IN IDS ----------
for df in [trips, routes, fuel_preds, environment, vehicles]:
    for col in ['route_id','vehicle_id']:
        if col in df.columns:
            df[col] = df[col].astype(str).str.strip()

# ---------- HELPER FUNCTIONS ----------
def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1r, lon1r, lat2r, lon2r = map(radians, (lat1, lon1, lat2, lon2))
    dlat, dlon = lat2r - lat1r, lon2r - lon1r
    a = sin(dlat/2)**2 + cos(lat1r)*cos(lat2r)*sin(dlon/2)**2
    return R * 2 * atan2(sqrt(a), sqrt(1-a))

def get_vehicle_info(vehicle_id):
    row = vehicles[vehicles['vehicle_id'] == vehicle_id]
    if len(row) == 0:
        return None
    return row.iloc[0].to_dict()

def get_env_for_route(route_id):
    matches = environment[environment['route_id'] == route_id]
    if matches.empty:
        return None
    return matches.sort_values('last_updated', ascending=False).iloc[0].to_dict()

def get_fuel_prediction(route_id, vehicle_id=None):
    df = fuel_preds[fuel_preds['route_id'] == route_id]
    if vehicle_id:
        df = df[df['vehicle_id'] == vehicle_id]
    if df.empty:
        return None
    return df.sort_values('created_at', ascending=False).iloc[0].to_dict()

def estimate_fuel_fallback(distance_km, baseline_kmpl=10, multiplier=1.0, env_factor=1.0):
    return distance_km / baseline_kmpl * multiplier * env_factor

def compute_ecoscore(predicted_fuel_l, predicted_co2_kg, est_time_min, ref_time_min):
    fuel_score = 1.0 / (1.0 + predicted_fuel_l)
    co2_score = 1.0 / (1.0 + predicted_co2_kg)
    time_ratio = est_time_min / (ref_time_min + 1e-6)
    time_score = 1.0 / (1.0 + max(0, time_ratio - 1))
    return float((0.5*fuel_score + 0.3*co2_score + 0.2*time_score) * 100)

# ---------- GENERATE COORDINATES IF MISSING ----------
for col in ['start_lat','start_lon','end_lat','end_lon']:
    if col not in routes.columns:
        routes[col] = np.nan

for idx, row in routes.iterrows():
    if pd.isna(row['start_lat']) or pd.isna(row['start_lon']):
        routes.at[idx,'start_lat'] = random.uniform(8.0, 28.0)
        routes.at[idx,'start_lon'] = random.uniform(68.0, 97.0)
    if pd.isna(row['end_lat']) or pd.isna(row['end_lon']):
        routes.at[idx,'end_lat'] = random.uniform(8.0, 28.0)
        routes.at[idx,'end_lon'] = random.uniform(68.0, 97.0)

route_coords = routes.set_index('route_id')[['start_lat','start_lon','end_lat','end_lon']]
trips[['start_lat','start_lon','end_lat','end_lon']] = trips['route_id'].map(route_coords.to_dict(orient='index')).apply(pd.Series)

# ---------- ROUTE SELECTION ----------
def choose_best_route_for_trip(trip_row):
    trip_id = trip_row['trip_id']
    vehicle_id = trip_row.get('vehicle_id')

    start_lat = trip_row['start_lat']
    start_lon = trip_row['start_lon']
    end_lat = trip_row['end_lat']
    end_lon = trip_row['end_lon']

    if pd.isna(start_lat) or pd.isna(start_lon) or pd.isna(end_lat) or pd.isna(end_lon):
        raise ValueError(f"Trip {trip_id} missing coordinates!")

    routes_copy = routes.copy()
    routes_copy['dist_start'] = routes_copy.apply(
        lambda x: haversine_km(start_lat, start_lon, x['start_lat'], x['start_lon']), axis=1
    )
    candidates = routes_copy.nsmallest(10, 'dist_start')

    vehicle_info = get_vehicle_info(vehicle_id)
    ref_time = candidates['duration_min'].min() if 'duration_min' in candidates.columns else 30

    results = []
    for _, r in candidates.iterrows():
        rid = r['route_id']
        fuel_pred = get_fuel_prediction(rid, vehicle_id)
        env_info = get_env_for_route(rid)

        if fuel_pred:
            predicted_fuel = fuel_pred['predicted_fuel_l']
            predicted_co2 = fuel_pred['predicted_co2_kg']
        else:
            distance_km = r.get('route_distance_km', 10)
            baseline_kmpl = vehicle_info.get('baseline_kmpl', 10) if vehicle_info else 10
            env_factor = env_info.get('fuel_modifier',1.0) if env_info else 1.0
            predicted_fuel = estimate_fuel_fallback(distance_km, baseline_kmpl, 1.0, env_factor)
            predicted_co2 = predicted_fuel * 2.31

        est_time = r.get('duration_min', ref_time)
        ecoscore = compute_ecoscore(predicted_fuel, predicted_co2, est_time, ref_time)

        results.append({
            'route_id': rid,
            'predicted_fuel_l': predicted_fuel,
            'predicted_co2_kg': predicted_co2,
            'est_time_min': est_time,
            'ecoscore': ecoscore,
            'start_lat': r['start_lat'], 'start_lon': r['start_lon'],
            'end_lat': r['end_lat'], 'end_lon': r['end_lon']
        })

    res_df = pd.DataFrame(results).sort_values('ecoscore', ascending=False).reset_index(drop=True)
    best = res_df.iloc[0].to_dict()
    return best, res_df

# ---------- VISUALIZATION (SAVE HTML & OPEN IN BROWSER) ----------
def visualize_route_web(trip_row, best_route):
    start = [best_route['start_lat'], best_route['start_lon']]
    end = [best_route['end_lat'], best_route['end_lon']]
    mid = [(start[0]+end[0])/2, (start[1]+end[1])/2]

    m = folium.Map(location=mid, zoom_start=6)
    folium.Marker(start, popup="Start", icon=folium.Icon(color="green")).add_to(m)
    folium.Marker(end, popup="End", icon=folium.Icon(color="red")).add_to(m)
    folium.PolyLine([start, end], color="blue", weight=4, opacity=0.7).add_to(m)

    map_file = os.path.join(BASE, f"trip_{trip_row['trip_id']}_map.html")
    m.save(map_file)
    webbrowser.open(f"file:///{map_file.replace(os.sep, '/')}")
    print(f"✅ Map saved and opened in browser: {map_file}")

# ---------- RUN DEMO ----------
trip_row = trips.iloc[0].to_dict()
best_route, all_routes = choose_best_route_for_trip(trip_row)
visualize_route_web(trip_row, best_route)

✅ Map saved and opened in browser: C:\Users\ASUS\My_Learning\sat hack\trip_T000001_map.html

In [42]:
# ---------- RUN DEMO ----------
trip_row = trips.iloc[0].to_dict()
best_route, all_routes = choose_best_route_for_trip(trip_row)
reroute_needed, new_route, reason = monitor_route(trip_row, best_route['route_id'], best_route['predicted_co2_kg'])
m = visualize_route(trip_row, new_route if reroute_needed else best_route)

# Save map as HTML and open in browser
output_file = f"{BASE}\\trip_route_map.html"
m.save(output_file)
print(f"Map saved to {output_file}. Open this file in your browser to view the route.")

Trip T000001 start: (13.1044,80.3200), end: (13.1066,80.2736)
✅ Best route for Trip T000001: R000970 (EcoScore=57.7)
Map saved to C:\Users\ASUS\My_Learning\sat hack\trip_route_map.html. Open this file in your browser to view the route.

In [44]:
import webbrowser
webbrowser.open(output_file)

True

In [45]:
import osmnx as ox
import networkx as nx
import pandas as pd
import folium
import random
import webbrowser
import os

# ---------- FILE PATH ----------
BASE = r"C:\Users\ASUS\My_Learning\sat hack"

# ---------- LOAD CSV DATA ----------
trips = pd.read_csv(f"{BASE}\\trips_india.csv")
vehicles = pd.read_csv(f"{BASE}\\vehicle_agent_india_full.csv")

# ---------- EXAMPLE CITY COORDINATES ----------
city_coords = {
    "Delhi": (28.6139, 77.2090),
    "Coimbatore": (11.0168, 76.9558),
    "Mumbai": (19.0760, 72.8777),
    "Pune": (18.5204, 73.8567),
    "Chennai": (13.0827, 80.2707)
}

# ---------- PICK ONE TRIP ----------
trip_row = trips.iloc[0]
vehicle = vehicles[vehicles['vehicle_id'] == trip_row['vehicle_id']].iloc[0]

origin_city = vehicle["city"]
destination_city = "Coimbatore"  # example
origin_point = city_coords[origin_city]
destination_point = city_coords[destination_city]

# ---------- BUILD ROAD NETWORK ----------
print("Building road network from OSM... this may take a while.")
G = ox.graph_from_place([origin_city, destination_city], network_type="drive")

# Nearest nodes to start/end points
orig_node = ox.distance.nearest_nodes(G, origin_point[1], origin_point[0])
dest_node = ox.distance.nearest_nodes(G, destination_point[1], destination_point[0])

# ---------- OPTIONAL: ECO WEIGHT ----------
fuel_efficiency = vehicle.get('actual_kmpl', 10)
emission_factor = vehicle.get('emission_factor', 2.31)
for u, v, k, data in G.edges(keys=True, data=True):
    distance_km = data.get("length", 1)/1000
    fuel_cost = distance_km / max(fuel_efficiency, 0.1)
    co2_cost = fuel_cost * emission_factor
    data["eco_weight"] = fuel_cost + co2_cost

# ---------- COMPUTE ROUTE USING NETWORKX ----------
route_nodes = nx.shortest_path(G, orig_node, dest_node, weight="eco_weight")

# ---------- CONVERT ROUTE TO LAT/LON ----------
route_coords = [(G.nodes[n]['y'], G.nodes[n]['x']) for n in route_nodes]

# ---------- VISUALIZE WITH FOLIUM ----------
midpoint = [(origin_point[0]+destination_point[0])/2,
            (origin_point[1]+destination_point[1])/2]
m = folium.Map(location=midpoint, zoom_start=6)

# Route line
folium.PolyLine(route_coords, color="blue", weight=4, opacity=0.7, tooltip="Eco Route").add_to(m)

# Start/End markers
folium.Marker(origin_point, tooltip="Origin", icon=folium.Icon(color="green")).add_to(m)
folium.Marker(destination_point, tooltip="Destination", icon=folium.Icon(color="red")).add_to(m)

# Save & open
map_file = os.path.join(BASE, f"trip_{trip_row['trip_id']}_map.html")
m.save(map_file)
webbrowser.open(f"file:///{map_file.replace(os.sep,'/')}")
print(f"✅ Map saved and opened: {map_file}")

Building road network from OSM... this may take a while.

c:\Users\ASUS\anaconda\envs\ML_Compiler\lib\site-packages\osmnx\_overpass.py:271: UserWarning: This area is 49 times your configured Overpass max query area size. It will automatically be divided up into multiple sub-queries accordingly. This may take a long time.
  multi_poly_proj = utils_geo._consolidate_subdivide_geometry(poly_proj)

✅ Map saved and opened: C:\Users\ASUS\My_Learning\sat hack\trip_T000001_map.html