In [2]:
BASE = r"C:\Users\ASUS\My_Learning\sat hack"

# ---------- LOAD CSV DATA ----------
trips = pd.read_csv(f"{BASE}\\trips_india.csv", parse_dates=['start_time','end_time','created_at'])
vehicles = pd.read_csv(f"{BASE}\\vehicle_agent_india_full.csv")
environment = pd.read_csv(f"{BASE}\\environment_agent_india_full.csv", parse_dates=['time_window_start','time_window_end','last_updated'])
routes = pd.read_csv(f"{BASE}\\main_agent_route_manager_india.csv", parse_dates=['last_updated'])
fuel_preds = pd.read_csv(f"{BASE}\\fuel_predictions_india.csv", parse_dates=['created_at'])
co2_aggregates = pd.read_csv(f"{BASE}\\co2_aggregates_india.csv")  # optional for validation

In [5]:
trips.head()

,trip_id,assignment_id,driver_id,vehicle_id,route_id,start_time,end_time,distance_km,duration_min,fuel_before_l,fuel_after_l,fuel_used_l,co2_kg,avg_speed_kmph,stop_count,anomaly_flag,geo_trace,created_at
0,T000001,A000417,d0199,v0038,R000359,2025-11-18 16:00:00,2025-11-18 17:56:00,35.22,116,39.29,34.43,7.160,13.604,18.22,76,False,[],2025-11-13 11:09:24.181002
1,T000002,A000399,d0129,v0128,R000295,2025-11-18 11:30:00,2025-11-18 12:41:00,25.75,71,46.34,11.70,2.992,5.685,21.76,11,False,[],2025-11-13 11:09:24.182464
2,T000003,A000241,d0120,v0051,R000643,2025-11-16 20:00:00,2025-11-16 21:00:00,15.71,60,21.32,22.13,1.298,2.998,15.71,39,False,[],2025-11-13 11:09:24.183849
3,T000004,A000303,d0012,v0045,R000747,2025-11-17 11:30:00,2025-11-17 12:05:00,22.66,35,24.28,24.19,5.501,12.707,38.85,24,False,[],2025-11-13 11:09:24.185314
4,T000005,A000278,d0088,v0015,R001102,2025-11-17 05:15:00,2025-11-17 05:21:00,2.76,6,47.43,17.25,0.481,1.111,27.60,8,False,[],2025-11-13 11:09:24.186693

In [6]:
vehicles.head()

,vehicle_id,vehicle_type,model,fuel_type,baseline_kmpl,actual_kmpl,engine_health,maintenance_score,load_capacity_kg,avg_load_kg,load_factor,tyre_health,age_years,vehicle_multiplier,emission_factor,city
0,v0001,van,Maruti Omni,cng,13.28,9.41,8,7,1000,489,0.49,0.81,2,1.193,1.90,Delhi
1,v0002,cargo-auto,Bajaj Maxima,petrol,15.16,12.59,9,7,700,433,0.62,0.69,11,1.210,2.31,Pune
2,v0003,pickup,Mahindra Bolero Pickup,petrol,18.02,17.28,10,10,1200,493,0.41,0.77,5,1.123,2.31,Delhi
3,v0004,mini-truck,Ashok Leyland Dost,petrol,12.91,11.30,9,6,1200,1115,0.93,0.80,9,1.305,2.31,Delhi
4,v0005,truck,Eicher Pro 2049,diesel,14.78,13.18,10,9,700,586,0.84,0.90,9,1.252,2.68,Chennai

In [7]:
environment.head()

,env_id,city,route_id,segment_start_lat,segment_start_lon,segment_end_lat,segment_end_lon,time_window_start,time_window_end,time_of_day,...,incident_type,incident_delay_min,elevation_gain_m,slope_pct_avg,temp_celsius,humidity_pct,air_quality_index,fuel_modifier,time_modifier,last_updated
0,env_0001,Pune,R000514,18.485043,73.812903,18.548836,73.827100,2025-11-14 07:00:00,2025-11-14 08:00:00,morning,...,NaN,0,119.7,4.73,33.2,84,123,1.418,1.53,2025-11-13 11:04:37.287404
1,env_0002,Pune,R000097,18.563048,73.845455,18.566070,73.904282,2025-11-14 16:00:00,2025-11-14 17:00:00,afternoon,...,NaN,0,192.0,6.14,27.1,77,189,0.809,0.64,2025-11-13 11:04:37.287467
2,env_0003,Pune,R000403,18.548015,73.903129,18.499818,73.824443,2025-11-14 08:00:00,2025-11-14 09:00:00,morning,...,NaN,0,254.6,25.04,28.5,49,60,1.719,1.67,2025-11-13 11:04:37.287519
3,env_0004,Delhi,R000661,28.623588,77.236366,28.626437,77.243314,2025-11-14 15:00:00,2025-11-14 16:00:00,afternoon,...,NaN,0,25.1,1.00,27.8,74,153,1.367,1.51,2025-11-13 11:04:37.287561
4,env_0005,Bengaluru,R000716,12.943720,77.565935,12.954788,77.580680,2025-11-14 12:00:00,2025-11-14 13:00:00,afternoon,...,NaN,0,136.5,3.68,30.6,79,112,1.240,1.29,2025-11-13 11:04:37.287596

In [8]:
routes.head()

,route_id,polyline,start_lat,start_lon,end_lat,end_lon,city,road_type_split,intersection_count,curvature_score,...,duration_min,traffic_level,congestion_index,avg_speed_kmph,time_of_day,weekday,elevation_gain_m,elevation_loss_m,avg_slope_pct,last_updated
0,R000001,NaN,17.408269,78.518717,17.415285,78.522214,Hyderabad,"{""highway"": 0.43, ""urban"": 0.27, ""local"": 0.3}",33,0.627,...,99.60,5,52,33.72,morning,Friday,306.0,79.9,0.55,2025-11-13 11:00:07.335570
1,R000002,NaN,17.393505,78.453357,17.355571,78.444484,Hyderabad,"{""highway"": 0.66, ""urban"": 0.32, ""local"": 0.02}",132,0.003,...,92.89,0,8,32.55,morning,Wednesday,342.6,255.1,0.68,2025-11-13 11:00:07.335627
2,R000003,NaN,18.511853,73.895254,18.528209,73.880358,Pune,"{""highway"": 0.56, ""urban"": 0.33, ""local"": 0.11}",4,0.216,...,28.85,4,47,30.61,morning,Wednesday,81.3,71.0,0.55,2025-11-13 11:00:07.335667
3,R000004,NaN,17.386824,78.532566,17.339154,78.453114,Hyderabad,"{""highway"": 0.03, ""urban"": 0.75, ""local"": 0.22}",91,0.324,...,204.81,1,34,17.29,morning,Thursday,188.7,29.6,0.32,2025-11-13 11:00:07.335710
4,R000005,NaN,12.998841,77.581375,12.989471,77.620726,Bengaluru,"{""highway"": 0.26, ""urban"": 0.56, ""local"": 0.18}",80,0.550,...,36.16,1,46,48.73,morning,Friday,338.1,311.9,1.15,2025-11-13 11:00:07.335741

In [10]:
fuel_preds.head()

,pred_id,assignment_id,route_id,driver_id,vehicle_id,env_id,model_name,model_version,predicted_fuel_l,predicted_co2_kg,confidence_low,confidence_high,features_json,explain_text,created_at
0,P000001,A000490,R000744,d0156,v0144,env_0375,rule_v1,1.0,5.611,10.661,4.769,6.453,"{""distance_km"": 29.07, ""duration_min"": 59.14, ...",synthetic prediction,2025-11-13 10:11:23.337000
1,P000002,A000095,R000841,d0096,v0149,env_0755,xgb_v1,1.0,2.394,4.549,2.035,2.753,"{""distance_km"": 16.19, ""duration_min"": 25.1, ""...",synthetic prediction,2025-11-13 09:24:23.339044
2,P000003,A000399,R000295,d0129,v0128,env_0369,xgb_v1,1.0,2.824,5.366,2.400,3.248,"{""distance_km"": 25.75, ""duration_min"": 73.71, ...",synthetic prediction,2025-11-13 10:07:23.340884
3,P000004,A000328,R000438,d0084,v0014,env_0386,linreg_v1,1.0,4.839,11.178,4.113,5.565,"{""distance_km"": 40.61, ""duration_min"": 63.84, ...",synthetic prediction,2025-11-13 09:48:23.342544
4,P000005,A000487,R000877,d0049,v0060,env_0216,xgb_v1,1.0,2.031,3.859,1.726,2.336,"{""distance_km"": 13.0, ""duration_min"": 31.19, ""...",synthetic prediction,2025-11-13 10:06:23.344214

In [11]:
co2_aggregates.head()

,id,scope_type,scope_id,period_start,period_end,total_co2_kg,trips_count,created_at
0,C000001,fleet,all,2025-11-14,2025-11-14,699.048,47,2025-11-13T11:09:24.739467
1,C000002,fleet,all,2025-11-15,2025-11-15,1131.655,83,2025-11-13T11:09:24.739536
2,C000003,fleet,all,2025-11-16,2025-11-16,1060.839,78,2025-11-13T11:09:24.739599
3,C000004,fleet,all,2025-11-17,2025-11-17,982.837,76,2025-11-13T11:09:24.739668
4,C000005,fleet,all,2025-11-18,2025-11-18,1015.153,76,2025-11-13T11:09:24.739734

In [16]:
import pandas as pd
import numpy as np

# ---------- FILE PATH ----------
BASE = r"C:\Users\ASUS\My_Learning\sat hack"

# ---------- LOAD CSV DATA ----------
trips = pd.read_csv(f"{BASE}\\trips_india.csv", parse_dates=['start_time','end_time','created_at'])
vehicles = pd.read_csv(f"{BASE}\\vehicle_agent_india_full.csv")
environment = pd.read_csv(f"{BASE}\\environment_agent_india_full.csv", parse_dates=['time_window_start','time_window_end','last_updated'])
routes = pd.read_csv(f"{BASE}\\main_agent_route_manager_india.csv", parse_dates=['last_updated'])
fuel_preds = pd.read_csv(f"{BASE}\\fuel_predictions_india.csv", parse_dates=['created_at'])
co2_aggregates = pd.read_csv(f"{BASE}\\co2_aggregates_india.csv")  # optional for validation

# ---------- DATA CLEANING / HANDLING MISSING VALUES ----------
# Vehicles
vehicles['baseline_kmpl'] = vehicles['baseline_kmpl'].fillna(10)  # default km per liter
vehicles['fuel_efficiency_l_per_km'] = 1 / vehicles['baseline_kmpl']  # convert km/l to l/km
vehicles['fuel_type'] = vehicles['fuel_type'].fillna('Petrol')

# Trips
trips['distance_km'] = trips['distance_km'].fillna(0)
trips['vehicle_id'] = trips['vehicle_id'].fillna('Unknown')
trips['driver_id'] = trips['driver_id'].fillna('Unknown')
trips['route_id'] = trips['route_id'].fillna('Unknown')

# ---------- MERGE VEHICLE DATA WITH TRIPS ----------
trips = trips.merge(
    vehicles[['vehicle_id', 'fuel_type', 'fuel_efficiency_l_per_km']],
    on='vehicle_id',
    how='left'
)

# Fill any missing vehicle info after merge
trips['fuel_type'] = trips['fuel_type'].fillna('Petrol')
trips['fuel_efficiency_l_per_km'] = trips['fuel_efficiency_l_per_km'].fillna(0.1)

# ---------- MERGE FUEL PREDICTIONS ----------
# Merge on assignment_id, driver_id, vehicle_id, route_id (trip_id not available)
trips = trips.merge(
    fuel_preds[['assignment_id', 'driver_id', 'vehicle_id', 'route_id', 'predicted_fuel_l']],
    on=['assignment_id', 'driver_id', 'vehicle_id', 'route_id'],
    how='left'
)

# ---------- CO2 FACTORS ----------
co2_factors = {
    'Petrol': 2.31,  # kg CO2 per liter
    'Diesel': 2.68,
    'CNG': 2.74,
}

# ---------- CALCULATE CO2 PER TRIP ----------
def calculate_co2(row):
    # Use predicted fuel if available
    if pd.notna(row['predicted_fuel_l']):
        fuel_used = row['predicted_fuel_l']
    else:
        fuel_used = row['distance_km'] * row['fuel_efficiency_l_per_km']
    
    factor = co2_factors.get(row['fuel_type'], 2.5)  # default if unknown
    return fuel_used * factor

trips['co2_kg'] = trips.apply(calculate_co2, axis=1)

# ---------- HANDLE ANOMALIES ----------
trips.loc[trips['anomaly_flag'] == True, 'co2_kg'] = 0

# ---------- AGGREGATE CO2 ----------
total_co2 = trips['co2_kg'].sum()
co2_by_vehicle = trips.groupby('vehicle_id')['co2_kg'].sum().reset_index().sort_values(by='co2_kg', ascending=False)
co2_by_driver = trips.groupby('driver_id')['co2_kg'].sum().reset_index().sort_values(by='co2_kg', ascending=False)
co2_by_route = trips.groupby('route_id')['co2_kg'].sum().reset_index().sort_values(by='co2_kg', ascending=False)

# ---------- SAVE RESULTS ----------
trips.to_csv(f"{BASE}\\trips_with_co2.csv", index=False)
co2_by_vehicle.to_csv(f"{BASE}\\co2_by_vehicle.csv", index=False)
co2_by_driver.to_csv(f"{BASE}\\co2_by_driver.csv", index=False)
co2_by_route.to_csv(f"{BASE}\\co2_by_route.csv", index=False)

# ---------- PRINT SUMMARY ----------
print(f"Total CO2 emitted (kg): {total_co2:.2f}")
print("\nTop 5 vehicles by CO2 emission:")
print(co2_by_vehicle.head())
print("\nTop 5 drivers by CO2 emission:")
print(co2_by_driver.head())
print("\nTop 5 routes by CO2 emission:")
print(co2_by_route.head())

Total CO2 emitted (kg): 5504.52

Top 5 vehicles by CO2 emission:
   vehicle_id    co2_kg
47      v0049  175.7200
76      v0081  147.8025
83      v0089  131.7175
4       v0006  126.9775
50      v0052  121.8100

Top 5 drivers by CO2 emission:
    driver_id    co2_kg
143     d0170  134.2400
142     d0169  127.6575
79      d0092  112.6750
50      d0058  108.7325
46      d0052   99.1075

Top 5 routes by CO2 emission:
    route_id    co2_kg
161  R000552  100.6750
123  R000426   85.8075
47   R000150   82.3900
279  R000989   66.3675
144  R000501   63.2950

In [18]:
import pandas as pd
import numpy as np
from math import radians, cos, sin, asin, sqrt

# ---------- FILE PATH ----------
BASE = r"C:\Users\ASUS\My_Learning\sat hack"

# ---------- LOAD CSV DATA ----------
trips = pd.read_csv(f"{BASE}\\trips_india.csv", parse_dates=['start_time','end_time','created_at'])
vehicles = pd.read_csv(f"{BASE}\\vehicle_agent_india_full.csv")
environment = pd.read_csv(f"{BASE}\\environment_agent_india_full.csv", parse_dates=['time_window_start','time_window_end','last_updated'])
routes = pd.read_csv(f"{BASE}\\main_agent_route_manager_india.csv", parse_dates=['last_updated'])
fuel_preds = pd.read_csv(f"{BASE}\\fuel_predictions_india.csv", parse_dates=['created_at'])
co2_aggregates = pd.read_csv(f"{BASE}\\co2_aggregates_india.csv")  # optional for validation

# ---------- DATA CLEANING ----------
vehicles['baseline_kmpl'] = vehicles['baseline_kmpl'].fillna(10)
vehicles['fuel_efficiency_l_per_km'] = 1 / vehicles['baseline_kmpl']
vehicles['fuel_type'] = vehicles['fuel_type'].fillna('Petrol')

trips['distance_km'] = trips['distance_km'].fillna(0)
trips['vehicle_id'] = trips['vehicle_id'].fillna('Unknown')
trips['driver_id'] = trips['driver_id'].fillna('Unknown')
trips['route_id'] = trips['route_id'].fillna('Unknown')

environment['fuel_modifier'] = environment['fuel_modifier'].fillna(1.0)
# If distance_km does not exist, calculate it from coordinates
if 'distance_km' not in environment.columns:
    def haversine(lat1, lon1, lat2, lon2):
        lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
        dlon = lon2 - lon1
        dlat = lat2 - lat1
        a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
        c = 2 * asin(sqrt(a))
        km = 6371 * c
        return km
    environment['distance_km'] = environment.apply(
        lambda row: haversine(
            row['segment_start_lat'], row['segment_start_lon'],
            row['segment_end_lat'], row['segment_end_lon']
        ), axis=1
    )

# ---------- MERGE VEHICLE DATA ----------
trips = trips.merge(
    vehicles[['vehicle_id', 'fuel_type', 'fuel_efficiency_l_per_km']],
    on='vehicle_id', how='left'
)
trips['fuel_type'] = trips['fuel_type'].fillna('Petrol')
trips['fuel_efficiency_l_per_km'] = trips['fuel_efficiency_l_per_km'].fillna(0.1)

# ---------- MERGE FUEL PREDICTIONS (OPTIONAL) ----------
trips = trips.merge(
    fuel_preds[['assignment_id','driver_id','vehicle_id','route_id','predicted_fuel_l']],
    on=['assignment_id','driver_id','vehicle_id','route_id'],
    how='left'
)

# ---------- CO2 FACTORS ----------
co2_factors = {'Petrol': 2.31, 'Diesel': 2.68, 'CNG': 2.74}

# ---------- MERGE TRIPS WITH ENVIRONMENT SEGMENTS ----------
segments = environment.merge(
    trips[['trip_id','driver_id','vehicle_id','route_id','fuel_type','fuel_efficiency_l_per_km','predicted_fuel_l','anomaly_flag']],
    on='route_id', how='inner'
)

# ---------- CALCULATE CO2 PER SEGMENT ----------
def segment_co2(row):
    if pd.notna(row['predicted_fuel_l']):
        fuel_used = row['predicted_fuel_l']
    else:
        fuel_used = row['distance_km'] * row['fuel_efficiency_l_per_km'] * row['fuel_modifier']
    factor = co2_factors.get(row['fuel_type'], 2.5)
    return fuel_used * factor

segments['co2_kg'] = segments.apply(segment_co2, axis=1)

# Set CO2 to 0 for anomalies
segments.loc[segments['anomaly_flag']==True, 'co2_kg'] = 0

# ---------- AGGREGATE CO2 PER TRIP ----------
co2_per_trip = segments.groupby('trip_id')['co2_kg'].sum().reset_index()
trips = trips.merge(co2_per_trip, on='trip_id', how='left', suffixes=('','_so_far'))

# ---------- AGGREGATE CO2 BY ENTITY ----------
total_co2 = trips['co2_kg'].sum()
co2_by_vehicle = trips.groupby('vehicle_id')['co2_kg'].sum().reset_index().sort_values(by='co2_kg',ascending=False)
co2_by_driver = trips.groupby('driver_id')['co2_kg'].sum().reset_index().sort_values(by='co2_kg',ascending=False)
co2_by_route = trips.groupby('route_id')['co2_kg'].sum().reset_index().sort_values(by='co2_kg',ascending=False)

# ---------- SAVE RESULTS ----------
trips.to_csv(f"{BASE}\\trips_with_dynamic_co2.csv", index=False)
co2_by_vehicle.to_csv(f"{BASE}\\co2_by_vehicle.csv", index=False)
co2_by_driver.to_csv(f"{BASE}\\co2_by_driver.csv", index=False)
co2_by_route.to_csv(f"{BASE}\\co2_by_route.csv", index=False)

# ---------- PRINT SUMMARY ----------
print(f"Total CO2 emitted (kg) so far: {total_co2:.2f}")
print("\nTop 5 vehicles by CO2 emission:")
print(co2_by_vehicle.head())
print("\nTop 5 drivers by CO2 emission:")
print(co2_by_driver.head())
print("\nTop 5 routes by CO2 emission:")
print(co2_by_route.head())

Total CO2 emitted (kg) so far: 5361.21

Top 5 vehicles by CO2 emission:
    vehicle_id   co2_kg
47       v0049  181.369
127      v0137  147.992
63       v0067  133.405
83       v0089  131.942
76       v0081  114.545

Top 5 drivers by CO2 emission:
    driver_id   co2_kg
143     d0170  115.893
46      d0052  112.420
50      d0058  106.333
142     d0169   93.760
32      d0037   93.678

Top 5 routes by CO2 emission:
    route_id  co2_kg
161  R000552  91.809
47   R000150  81.081
144  R000501  73.359
278  R000983  71.371
197  R000692  61.802

In [33]:
import pandas as pd
import numpy as np
from math import radians, sin, cos, asin, sqrt

class CO2Agent:
    def __init__(self, trips, vehicles, environment, fuel_preds=None):
        self.trips = trips.copy()
        self.vehicles = vehicles.copy()
        self.environment = environment.copy()
        self.fuel_preds = fuel_preds.copy() if fuel_preds is not None else None

        # CO2 factors per fuel type
        self.co2_factors = {'Petrol': 2.31, 'Diesel': 2.68, 'CNG': 2.74}

        # Preprocess data
        self._preprocess_data()

        # Storage for live segments
        self.live_segments = pd.DataFrame()

    # ----------------- INTERNAL -----------------
    @staticmethod
    def _haversine(lat1, lon1, lat2, lon2):
        """Vectorized Haversine distance in km"""
        lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
        dlon = lon2 - lon1
        dlat = lat2 - lat1
        a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
        return 2 * 6371 * np.arcsin(np.sqrt(a))

    def _preprocess_data(self):
        # Standardize columns
        for df in [self.trips, self.vehicles, self.environment]:
            df.columns = df.columns.str.strip().str.lower()
        if self.fuel_preds is not None:
            self.fuel_preds.columns = self.fuel_preds.columns.str.strip().str.lower()

        # Vehicles
        self.vehicles['baseline_kmpl'] = self.vehicles['baseline_kmpl'].fillna(10)
        self.vehicles['fuel_efficiency_l_per_km'] = 1 / self.vehicles['baseline_kmpl']
        self.vehicles['fuel_type'] = self.vehicles['fuel_type'].fillna('Petrol')

        # Trips
        self.trips['distance_km'] = self.trips['distance_km'].fillna(0)
        self.trips['vehicle_id'] = self.trips['vehicle_id'].fillna('Unknown')
        self.trips['driver_id'] = self.trips['driver_id'].fillna('Unknown')
        self.trips['route_id'] = self.trips['route_id'].fillna('Unknown')
        self.trips['anomaly_flag'] = self.trips.get('anomaly_flag', False)

        # Environment
        self.environment['fuel_modifier'] = self.environment['fuel_modifier'].fillna(1.0)
        if 'distance_km' not in self.environment.columns or self.environment['distance_km'].isna().any():
            self.environment['distance_km'] = self._haversine(
                self.environment['segment_start_lat'], self.environment['segment_start_lon'],
                self.environment['segment_end_lat'], self.environment['segment_end_lon']
            )

        # Merge vehicle info
        self.trips = self.trips.merge(
            self.vehicles[['vehicle_id','fuel_type','fuel_efficiency_l_per_km']],
            on='vehicle_id', how='left'
        )
        self.trips['fuel_type'] = self.trips['fuel_type'].fillna('Petrol')
        self.trips['fuel_efficiency_l_per_km'] = self.trips['fuel_efficiency_l_per_km'].fillna(0.1)

        # Merge fuel predictions
        if self.fuel_preds is not None:
            merge_cols = [c for c in ['assignment_id','driver_id','vehicle_id','route_id'] if c in self.fuel_preds.columns]
            self.trips = self.trips.merge(
                self.fuel_preds[merge_cols + ['predicted_fuel_l']],
                on=merge_cols, how='left'
            )
        else:
            self.trips['predicted_fuel_l'] = np.nan

    # ----------------- LIVE SEGMENTS -----------------
    def update_segment(self, trip_id, segment_update):
        """Add/update a live segment mid-trip."""
        segment_update['trip_id'] = trip_id
        if 'fuel_modifier' not in segment_update:
            segment_update['fuel_modifier'] = 1.0
        self.live_segments = pd.concat([self.live_segments, pd.DataFrame([segment_update])], ignore_index=True)
        return self.calculate_live_co2(trip_id)

    def calculate_live_co2(self, trip_id):
        """CO2 calculation for live trip segments."""
        trip = self.trips[self.trips['trip_id']==trip_id]
        segments = self.live_segments[self.live_segments['trip_id']==trip_id].copy()
        if segments.empty:
            return {'message':'No segments recorded yet'}

        trip_info = trip[['vehicle_id','driver_id','fuel_type','fuel_efficiency_l_per_km','predicted_fuel_l','anomaly_flag']].iloc[0]
        for col in trip_info.index:
            segments[col] = trip_info[col]

        # Fuel used
        segments['fuel_used'] = np.where(
            segments['predicted_fuel_l'].notna(),
            segments['predicted_fuel_l'],
            segments['distance_km'] * segments['fuel_efficiency_l_per_km'] * segments['fuel_modifier']
        )

        # CO2
        segments['co2_kg'] = np.where(
            segments['anomaly_flag'],
            0,
            segments['fuel_used'] * segments['fuel_type'].map(self.co2_factors).fillna(2.5)
        )

        total_co2 = segments['co2_kg'].sum()
        co2_by_vehicle = segments.groupby('vehicle_id')['co2_kg'].sum().to_dict()
        co2_by_driver = segments.groupby('driver_id')['co2_kg'].sum().to_dict()
        co2_by_route = segments.groupby('route_id')['co2_kg'].sum().to_dict()

        return {
            'trip_id': trip_id,
            'total_co2_kg': total_co2,
            'segments': segments[['route_id','distance_km','fuel_modifier','fuel_used','co2_kg']].to_dict(orient='records'),
            'co2_by_vehicle': co2_by_vehicle,
            'co2_by_driver': co2_by_driver,
            'co2_by_route': co2_by_route
        }

    # ----------------- FULL FLEET -----------------
    def calculate_total_co2(self):
        if self.live_segments.empty:
            return {'message':'No live segments recorded'}

        segments = self.live_segments.merge(
            self.trips[['trip_id','vehicle_id','driver_id','fuel_type','fuel_efficiency_l_per_km','predicted_fuel_l','anomaly_flag']],
            on='trip_id', how='left'
        )

        segments['fuel_used'] = np.where(
            segments['predicted_fuel_l'].notna(),
            segments['predicted_fuel_l'],
            segments['distance_km'] * segments['fuel_efficiency_l_per_km'] * segments['fuel_modifier']
        )
        segments['co2_kg'] = np.where(
            segments['anomaly_flag'],
            0,
            segments['fuel_used'] * segments['fuel_type'].map(self.co2_factors).fillna(2.5)
        )

        result = {}
        for trip_id, df in segments.groupby('trip_id'):
            result[trip_id] = {
                'total_co2_kg': df['co2_kg'].sum(),
                'segments': df[['route_id','distance_km','fuel_modifier','fuel_used','co2_kg']].to_dict(orient='records'),
                'co2_by_vehicle': df.groupby('vehicle_id')['co2_kg'].sum().to_dict(),
                'co2_by_driver': df.groupby('driver_id')['co2_kg'].sum().to_dict(),
                'co2_by_route': df.groupby('route_id')['co2_kg'].sum().to_dict()
            }
        return result

# ===============================
# DEMO
# ===============================
if __name__ == "__main__":
    trips = pd.DataFrame([
        {'assignment_id':'A1','trip_id':'T1','vehicle_id':'V1','driver_id':'D1','route_id':'R1','distance_km':100,'anomaly_flag':False},
        {'assignment_id':'A2','trip_id':'T2','vehicle_id':'V2','driver_id':'D2','route_id':'R2','distance_km':150,'anomaly_flag':False}
    ])
    vehicles = pd.DataFrame([
        {'vehicle_id':'V1','fuel_type':'Diesel','baseline_kmpl':12},
        {'vehicle_id':'V2','fuel_type':'Petrol','baseline_kmpl':10}
    ])
    environment = pd.DataFrame([
        {'route_id':'R1','segment_start_lat':12.0,'segment_start_lon':77.0,'segment_end_lat':13.0,'segment_end_lon':78.0,'fuel_modifier':1.1},
        {'route_id':'R2','segment_start_lat':14.0,'segment_start_lon':75.0,'segment_end_lat':15.0,'segment_end_lon':76.0,'fuel_modifier':0.9}
    ])
    fuel_preds = pd.DataFrame([
        {'assignment_id':'A1','driver_id':'D1','vehicle_id':'V1','route_id':'R1','predicted_fuel_l':8},
        {'assignment_id':'A2','driver_id':'D2','vehicle_id':'V2','route_id':'R2','predicted_fuel_l':15}
    ])

    agent = CO2Agent(trips, vehicles, environment, fuel_preds=fuel_preds)

    # Add live segments
    agent.update_segment('T1', {'route_id':'R1','distance_km':50})
    agent.update_segment('T1', {'route_id':'R1','distance_km':50})
    agent.update_segment('T2', {'route_id':'R2','distance_km':150})

    # Print CO2 outputs
    print("Trip T1 CO2:")
    print(agent.calculate_live_co2('T1'))
    print("\nTotal CO2 for all trips:")
    print(agent.calculate_total_co2())

Trip T1 CO2:
{'trip_id': 'T1', 'total_co2_kg': 42.88, 'segments': [{'route_id': 'R1', 'distance_km': 50, 'fuel_modifier': 1.0, 'fuel_used': 8.0, 'co2_kg': 21.44}, {'route_id': 'R1', 'distance_km': 50, 'fuel_modifier': 1.0, 'fuel_used': 8.0, 'co2_kg': 21.44}], 'co2_by_vehicle': {'V1': 42.88}, 'co2_by_driver': {'D1': 42.88}, 'co2_by_route': {'R1': 42.88}}

Total CO2 for all trips:
{'T1': {'total_co2_kg': 42.88, 'segments': [{'route_id': 'R1', 'distance_km': 50, 'fuel_modifier': 1.0, 'fuel_used': 8.0, 'co2_kg': 21.44}, {'route_id': 'R1', 'distance_km': 50, 'fuel_modifier': 1.0, 'fuel_used': 8.0, 'co2_kg': 21.44}], 'co2_by_vehicle': {'V1': 42.88}, 'co2_by_driver': {'D1': 42.88}, 'co2_by_route': {'R1': 42.88}}, 'T2': {'total_co2_kg': 34.65, 'segments': [{'route_id': 'R2', 'distance_km': 150, 'fuel_modifier': 1.0, 'fuel_used': 15.0, 'co2_kg': 34.65}], 'co2_by_vehicle': {'V2': 34.65}, 'co2_by_driver': {'D2': 34.65}, 'co2_by_route': {'R2': 34.65}}}